.contenedor-album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f0f0f0;
    padding: 30px 0;
    width: 70%;
    min-height: 70vh;
}

.book {
    width: 600px;
    height: 400px;
    position: relative;
    perspective: 1500px;
    margin-bottom: 80px;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform .8s;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    background-color: white;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.page:nth-child(1){z-index:3;}
.page:nth-child(2){z-index:2;}
.page:nth-child(3){z-index:1;}

.page.flip {
    transform: rotateY(-180deg);		
}

.controles-album {
    width: 400px;
    display: flex;
    justify-content: space-between;
}




.card {
            background: rgba(255,255,255,0.9);
            padding: 90px;
            border-radius: 20px;
            width: 100 0px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.3);
            backdrop-filter: blur(10px);
            
        }

      
           
        

        

        label {
            font-weight: bold;
            color: #8e0000;
        }

        input, textarea, select {
            width: 100%;
            padding: 12px;
            border: 2px solid #c0392b;
            border-radius: 10px;
            outline: none;
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 15px;
            transition: 0.3s;
        }

        input:focus, textarea:focus, select:focus {
            border-color: #e74c3c;
            box-shadow: 0 0 10px rgba(231,76,60,0.4);
        }

        button {
            width: 80%;
            padding: 15px;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            background: #6f0f11;
            color: white;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #325632;
            transform: scale(1.03);
        }



 music-btn {
	 border: 2px solid #88000F;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    music-btn:hover {
        background: #88000F;
        color: white;
    }


























